body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 60px;
}

h1 {
  color: #8c5fd3;
  margin-top: 0;
}

iframe {
  border: 0px;
  width: 900px;
  height: 400px;
  border: 5px solid #8c5fd3;
  border-radius: 5px;
}

button {
  border: 0;
  border-radius: 5px;
  background: #8c5fd3;
  color: white;
  padding: 10px 15px;
  font-size: 1.1em;
  font-weight: 500;
  cursor: pointer;
}
