#game-board {
  text-align: center;
  margin-top: 100px;
  background-color: white;
}

.box {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 80px;
  font-weight: bold;
  line-height: 150px;
  width: 150px;
  height: 150px;
  display: inline-block;
  margin-left: -5px;
  margin-top: -1px;
}

#top-left {
  border-bottom: 3px solid black;
  border-right: 3px solid black;
}
#top-middle {
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  border-left: 3px solid black;
}
#top-right {
  border-bottom: 3px solid black;
  border-left: 3px solid black;
}
#center-left {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
}
#center-middle {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  border-left: 3px solid black;
}
#center-right {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
}
#bottom-left {
  border-top: 3px solid black;
  border-right: 3px solid black;
  margin-left: -9px;
}
#bottom-middle {
  border-top: 3px solid black;
  border-right: 3px solid black;
  border-left: 3px solid black;
}
#bottom-right {
  border-top: 3px solid black;
  border-left: 3px solid black;
}

span {
  display: inline-block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
span.empty {
  color: white;
}
span.cross {
  color: red;
}
span.circle {
  color: black;
}
